h1, h3, .center {
    text-align: center;
}

td {
    width: 100px;
    height: 100px;
}

table {
    margin: 5px auto;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}